<mat-tab-group dynamicHeight mat-align-tabs="center">
  <mat-tab *ngFor="let page of pages" label="{{page.label}}">
    <ng-template matTabContent>
      <app-container [container]="getComponent(page.container)"></app-container>
    </ng-template>
  </mat-tab>
</mat-tab-group>
